#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Simplify3D
GenericName=3D Print Slicer
Exec=/opt/Simplify3D-3.0.1/LaunchScript.sh
Icon=/opt/Simplify3D-3.0.1/icon.png
Path=/opt/Simplify3D-3.0.1
Type=Application
Terminal=false
Categories=Graphics;Other
StartupWMClass=Simplify3D
