[Unit]
Description=SSH key agent

[Service]
Environment=SSH_AUTH_SOCK=%t/ssh-agent/S.ssh-agent
ExecStart=/usr/bin/ssh-agent -Da $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
