[Unit]
Description=Emacs Daemon: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/keychain --agents ssh,gpg
ExecStop=/usr/bin/keychain -k mine
Restart=always
TimeoutStartSec=5

[Install]
WantedBy=default.target