#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Emacs Client
Exec=/home/dralston/config/helper-scripts/org-capture "%u"
Icon=emacs-icon
Terminal=false
Type=Application
MimeType=x-scheme-handler/org-protocol;