[Desktop Entry]
Comment=
Encoding=UTF-8
Exec=/home/dralston/.profile
Hidden=false
Name=Profile
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Type=Application
Version=0.9.4
