[Desktop Entry]
Comment=
Encoding=UTF-8
Exec=/home/dralston/.xsession
Hidden=true
Name=Xsession
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Type=Application
Version=0.9.4
