[General]
Show_Title=false
Show_Labels=false
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
Font_Size=medium
Font_Size_Numerical=2
Lines_Size=3
Update_Interval=60
Exec_Command=true
Show_Units=true
Small_Spacings=false
Command_Name=xfce4-sensors
Number_Chips=6
Suppress_Hddtemp_Message=false
Preferred_Width=390
Preferred_Height=546

[Chip0]
Name=nouveau-100
Number=0

[Chip1]
Name=fam15h_power-c4
Number=1

[Chip2]
Name=k10temp-c3
Number=2

[Chip3]
Name=f71889a-480
Number=3

[Chip3_Feature13]
Id=-1
Address=13
Name=temp2
Color=#00B000
Show=true
Min=0.00
Max=40.00

[Chip4]
Name=Hard disks
Number=4

[Chip5]
Name=ACPI
Number=5

