[Unit]
Description=SSH key agent

[Service]
PermissionsStartOnly=true
Environment=SSH_AUTH_SOCK=%t/ssh-agent/S.ssh-agent
RuntimeDirectory=ssh-agent
RuntimeDirectoryMode=0700
ExecStart=/usr/bin/ssh-agent -da $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
