/* Allow users in admin group to run GParted without authentication */
polkit.addRule(function(action, subject) {
    if (action.id == "org.spice-space.lowlevelusbaccess" &&
        subject.isInGroup("libvirt")) {
        return polkit.Result.YES;
    }
});
