[Desktop Entry]
Categories=Network;FileTransfer;
Comment[en_CA]=GUI for Syncthing
Comment=GUI for Syncthing
Exec=syncthing-gtk
GenericName[en_CA]=Syncthing GTK
GenericName=Syncthing GTK
Icon=syncthing-gtk
MimeType=
Name[en_CA]=Syncthing GTK
Name=Syncthing GTK
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
